* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	font: 16px 'Nunito Sans';
	color: #787878;
	background-color: #f5f5f5;
}

a,  a:link, a:visited {
	color: #0078f0;
	text-decoration: none;
}

main {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

textarea, .form-ln-inps [placeholder] {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    border-color: lightgray;
    color: #171717;
}

textarea:focus, .form-ln-inps [placeholder]:focus {border-color: #3c3c3c;}

.form-ln-inps [placeholder]:focus + .fa{color: #171717;}

textarea {
    padding: 10px;
    resize: none;
}

.form-100 input:not([value^="Post"]), .form-100 textarea {width: 100%;}

.form-ln-inps input[placeholder] {
    border-bottom-width: 1px;
}




.bar .fa {
	-webkit-transition: -webkit-transform .4s ease-out;
	transition: transform .4s ease-out;
}

.bar.maximized .fa {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}


.ad {
	max-width: 100%;
    margin: 10px auto 0 auto;
    display: block;
}

.ad:last-of-type {margin-bottom: 10px;}



.field-comp {position: relative;}

.field-comp i.fa {
	position: absolute;
	left: 10px;
	top: calc(50% - (1em/2));
}

/* .field, .icon-field-left is now relative to font-size */
.field, .field-elem {
	height: 2.5em;
	padding: 0.625em;
}

.icon-field-left {
	padding-left: calc(1em + 15px); /*1em(16px) + 10px(icons left property) + 5px(extra 5px for space on the right)*/
}



.close {
	position: absolute;
	font-size: 65px;
    font-weight: bolder;
	top: 10px;
	right: 10px;
	color: #fff;
    cursor: default;
}

.rate-active {color: gold;}






.container {
    width: 90%;
    margin: 65px auto 15px auto;
}



.tab, .image-list li a, [class^="social-icon-grp"], #toggle-next-prev-post, #next-prev-post, #hit, #hit > div, #site-srch form, #site-nav > div:last-child, #post-details, #rate, #post-cat, #post-a-cmnt > div:last-child {
    display: -webkit-flex;
    display: flex;
}

.tab, [class^="social-icon-grp"], #post-details {flex-wrap: wrap;}




.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab li {flex-grow: 1;}

.tab li a {
    display: block;
    color: #171717;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

ul.tab li a:not(.active):hover {background-color: #ddd;}

ul.tab li a:focus, ul.tab .active {
    color: #fff;
    background-color: #ff6464;
}

.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;

    
    -webkit-animation: fadeEffect 1s;
    -moz-animation: fadeEffect 1s;
    -o-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.tabcontent:not(:first-of-type) {display: none;}








.nav-sec .form-100 [type="submit"]:hover {
	background-color: lightgray;
	border-color: transparent;
}



.nav-sec {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px auto;
    color: #171717;
}

.nav-sec-head {
	background-color: #ff6464;
	padding: 10px;
	color: #fff;
	font-weight: bold;
}



.field-comp:not(.search), .form-100 > input, .form-100 > textarea, .form-100 > div:last-child  {margin: 10px 0 0 0;}








/* scroll styles */


.scroll {
	background-color: #171717;
	opacity: .5;
	padding: 5px 15px;
	color: #fff;

	/* same cursor across all browsers */
    cursor: default;
}

.scroll:hover {
	background-color: #ff3232;
	opacity: .7;
}


/* end scroll styles */









/*button styles */


.btn {
	border: 1px solid;
	text-decoration: none;
	display: inline-block;
	margin: auto;
	text-align: center;
	font-family: Raleway;
}

.btn-border-rad {border-radius: 5px;}


.btn-sm {
	padding: 0.625em 0.9375em;
	margin: 0.625em;
}

.btn-big {
	padding: 0.9375em 1.25em;
	margin: 0.9375em auto;
	font-size: 18px;
}

/* end button styles */




.emph {
    background: #fcfcfc url(../img/repeating-linear-gradient.png);
    color: #ff8787;
    padding: 5px;
    border: 1px solid #ddd;
    display: inline-block;
    -webkit-animation: animate-rotate 13s infinite;
    -moz-animation: animate-rotate 13s infinite;
    -o-animation: animate-rotate 13s infinite;
    animation: animate-rotate 13s infinite;
}




.fb {background-color: #3b5998;}

.twitter {background-color: #00aced;}

.pint {background-color: #cb2027;}

.insta {background-color: #bc2a8d;}

.tube {background-color: #bb0000;}

.in {background-color: #007bb5;}

.share {background-color: #ff6464;}

.plus {background-color: #f95100;}



.right {float: right;}

.left {float: left;}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.std-border-rad {border-radius: 5px;}



.cmnt-img-name img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
}


/* image-list styles */

.image-list li a {align-items: flex-start;}

.image-list li a img {
	width: 30%;
	max-width: 85px;
	opacity: .9;
}

.image-list li:hover a img {opacity: 1;}

.image-list li a div{
	width: 70%;
	padding-left: 10px;
	padding-right: 5px;
}

.image-list li > div{
	text-align: right;
	padding-right: 5px;
	font-size: small;
	margin-bottom: 5px;
}

/* end image-list styles */











.side-nav-list a:hover div, .underline, .underline-hover:hover {text-decoration: underline;}

.side-nav-list > li {
	padding: 10px;
	color: gray;
}

.side-nav-list:not(.image-list) > li:hover {
	background-color: lightgray;
	color: #171717;
}

.side-nav-list.image-list > li:hover a {
	padding-left: 7px;
	background-color: #fff;
}

.side-nav-list.image-list > li:hover {border-left: 3px solid #ff6464;}



.side-nav-list a{
	display: block;
	padding: 10px;
}

.side-nav-list li.collapse .side-nav-sublist, .side-nav-list li.collapse .fa {display: none;}

.side-nav-list li.collapse:hover .fa {display: initial;}

.side-nav-list > li.expandable:not(.collapse):hover {
	background-color: #f5f5f5;
	color: dimgray;
}

.side-nav-sublist {
	padding: 10px;
	color: #787878;
}

.side-nav-sublist li:not(:last-child) {border-bottom: 1px solid #e1e1e1;}

.side-nav-sublist li:hover {
	background-color: #fff;
	color: #787878;
	border-left: 3px solid #ff6464;
}

.side-nav-sublist li:hover a {padding-left: 7px;}



.cmnt img {
    display: inline-block;
    vertical-align: bottom;
    max-width: 70px;
    width: 100%;
}



.cmnt {
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cmnt-by {
    font-size: small;
    color: #171717;
    font-weight: bold;
}

.cmnt-date-time, .cmnt-mnu {
    background: #f5f5f5 url(../img/repeating-linear-gradient.png);
    padding: 5px 10px;
    color: #171717;
}

.cmnt-date-time {border-top-right-radius: 5px;}

.cmnt-mnu {
    border-bottom-right-radius: 5px;
    font-weight: bold;
}

.cmnt-mnu a:hover {text-decoration: underline;}

.cmnt-txt {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-weight: 100;
}






/* social-icon styles */

.social-icon {border-radius: 50%;}

.social-icon .fa {
	text-align: center;
	border-radius: 50%;
	color: #fff;
}

.social-icon-grp-sm .social-icon .fa {
	padding: 0.3125em;
	width: 1.625em;
}

.social-icon-grp-md .social-icon .fa {
	padding: 0.625em;
	width: 2.25em;
}

.social-icon-grp-lg .social-icon .fa {
	padding: 0.9375em;
	width: 2.875em;
}

    /* custom font-sizes: icon usage */

    .social-icon-grp-sm:not(.follow), .social-icon-grp-md {font-size: 18px;}

    /* End custom font sizes */

.follow .social-icon .fa {color: inherit;}

.follow .social-icon {position: relative;}

.follow .social-icon:hover {color: #fff;}

.social-icon:hover .zoom-in {display: block;}

.zoom-in{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
    display: none;
	-webkit-animation: zoom-in .4s;
    -moz-animation: zoom-in .4s;
    -o-animation: zoom-in .4s;
	animation: zoom-in .4s;
}

.zoom-in + .fa{position: relative;}


/* end social-icon styles */



.like, .pointer {cursor: pointer;}

.like.liked .fa{color: limegreen;}



.red-box {
    padding: 5px 10px;
    background: #ff6464;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
}

.red-box + div {
    border: 1px solid #ff6464;
    margin-bottom: 15px;
}



#post-a-cmnt {margin: 10px auto;}

#post-a-cmnt > div:last-child {justify-content: flex-end;}

#post-a-cmnt [type="submit"], textarea, .form-ln-inps input[placeholder], #site-srch .field,
#sticky-social a span {font-family: 'Nunito Sans';}

#post-a-cmnt [type="submit"]:hover {color: #888;}


#toggle-next-prev-post {justify-content: space-between;}

#toggle-next-prev-post .btn{
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #ff6464;
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}

#toggle-next-prev-post .btn:hover{
    color: #ff1010;
    background-color: #f0f0f0;
}


#next-prev-post {
    justify-content: space-between;
    margin-bottom: 10px;
    color: #171717;
    font-size: small;
}

#next-prev-post div{max-width: 200px;}






#hit {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 7px;
    color: #171717;
    font-weight: bold;
}

#hit > div > * {margin-right: 10px;}

#hit > div {
    color: #171717;
    flex-wrap: wrap;
}

#hit .social-icon:hover .fa{
	background-color: #fff;
	color: inherit;
}

#hit .social-icon{
    border: 1px solid transparent;
    margin: 0 1px 1px 1px;
}

#hit .social-icon:hover{border: 1px solid #787878;}

#hit .social-icon-grp-sm {font-size: 17px;}




#suscribe-nav-sec-head {margin-bottom: 10px;}


#side-nav {padding: 10px;}


/* search styles */

#site-srch, #site-srch form, #site-srch [placeholder] {width: 100%;}

#site-srch .field-comp i.fa {color: #ff6464}

#site-srch {
	padding: 10px;
	height: 100%;
	background: rgba(23,23,23,.7);
	font-size: 20px;
	position: fixed;
	top: 0;
	display: none;
	z-index: 3;
}

i.close:hover {color: lightgray;}

#site-srch form {
	margin: auto;
	justify-content: center;
}

#site-srch .field-comp {width: 50%;}

#site-srch [placeholder] {
	outline: none;
	border-color: #fff;
	color: #171717;
	border-style: solid;
}

#site-srch [type="submit"] {
	background-color: #ff6464;
	color: #fff;
	border-radius: 0 4px 4px 0;
	border: 0;
}

#site-srch [type="submit"]:hover {
	background-color: lightgray;
	color: #ff3232;
}

#site-srch [placeholder]:focus + .fa {color: #ff6464;}

	/* placeholder styles */

	#site-srch ::-webkit-input-placeholder, #post-a-cmnt ::-webkit-input-placeholder {color: lightgray;}

	#site-srch ::-moz-placeholder, #post-a-cmnt ::-moz-placeholder {color: lightgray;}

	#site-srch :-ms-input-placeholder, #post-a-cmnt :-ms-input-placeholder {color: lightgray;}

	#site-srch :-moz-placeholder, #post-a-cmnt :-moz-placeholder {color: lightgray;}

	/* end placeholder styles */


/* end search styles */


#rate, .like {align-self: center;}


#topic {
    color: #171717;
    padding: 0 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
}


#footer {
	border-top: 1px solid #ddd;
	text-align: center;
	padding: 10px;
    background-color: #ebebeb;
}

#post p {text-indent: 20px;}

#post p::first-letter {
    font-weight: bolder;
    font-size: 25px;
}


#post-cat li {
    color: #fff;
    margin: 0 3px;
    font-size: 12px;
}

#post-cat {margin: 10px 0 5px 0;}

#post-cat span {display: inline-block;}

#post-cat span:first-child {
    background-color: #171717;
    padding: 8px 7px;
}

#post-cat span:last-child {
    background-color: #ff6464;
    padding: 8px 10px;
}




#sticky-social ul, .tab, #rate {margin: 0;}

#sticky-social {
    left: 0;
    position: fixed;
    top: 50%;
    margin-top: calc(-280px/2);
    font-size: 19px;
}

#sticky-social a {width: 23px;}

#sticky-social a, #sticky-social a span {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

#sticky-social a {
    display: block;
    position: relative;
}

#sticky-social a span {
    width: 100px;
    left: -100px;
    position: absolute;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#sticky-social a:hover span {left: 100%;}





/* site-header styles */


#site-home, #site-home a {width: 163px;}

#site-nav, #site-home {font-weight: bold;}

#site-nav ul, #sticky-social ul, .tab, .side-nav-list, .side-nav-sublist, #rate, #post-cat {list-style: none;}

#site-nav > ul, #sticky-social ul, .tab, .side-nav-list, #rate, #post-cat {padding: 0;}

#site-nav > div:last-child {
	top: 0;
	right: 0;
}



#site-header {
    position: fixed;
    width: 100%;
    top: 0;
	background-color: transparent;
	z-index: 2;
}

#site-header.affixed-obvious {
	background-color: #fff;
	border-bottom: 0 outset transparent;
    -webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16);
    -moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16);
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16);
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
    -webkit-animation: header-fixed-dropdown .7s ease-out;
    -moz-animation: header-fixed-dropdown .7s ease-out;
    -o-animation: header-fixed-dropdown .7s ease-out;
	animation: header-fixed-dropdown .7s ease-out;
}

#site-header.affixed-obvious a {color: #ff6464;}

#site-header.affixed-obvious #site-nav > div:last-child a:hover{
	color: #fff;
	background-color: #ff6464;
}

#site-header a {
	display: block;
	padding: 15px;
	color: #fff;
}




/* end site-header */

#post img:not(#post-img) {
    width: 90%;
    display: block;
    margin: 10px auto;
}

#post-img {width: 100%;}

#post-details {
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    background: #f5f5f5 url(../img/repeating-linear-gradient.png);
}

#posted-by {margin-right: 10px;}






#scroll-up {
	border-radius: 5px 5px 0 0;
	margin-bottom: 5px;
}

#scroll-down {border-radius: 0 0 5px 5px;}

#toggle-scroll {
	position: fixed;
	font-size: 20px;
	bottom: 50px;
	right: 5px;
	z-index: 1;
	display: none;
}




@media only screen and (max-width: 836px) {
    
    
    
    .cmnt-by {display: inline-block;}
    
    .cmnt-img-name {margin: 10px auto 5px 10px;}
    
    #post-cat {font-size: small;}
    
    /* site-header */
    
    #site-nav {
        opacity: .95;
        width: 97%;
        margin: auto;
    }

	#site-nav > div:last-child {position: absolute;}

	#site-nav ul:first-child {display: none;}

	#site-nav li:not(:last-child) {border-bottom: 1px dotted #fff;}
    
    #site-nav ul a{color: #171717;}
    
    #site-nav ul a:hover {
        padding-left: 12px;
        border-left: 3px solid #ff6464;
        color: #ff6464;
        background-color: #fff;
    }
    
    
    
    
    
    
    
    #site-header.affixed-obvious #site-nav ul a {color: #ff6464;}
    
    #site-header.affixed-obvious #site-nav ul a:hover {
        color: #171717;
        background-color: #eee;
    }
    
    #site-header #site-nav ul {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
    }
    
    #site-header.affixed-obvious.expanded {
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
    }

	#site-header.affixed-obvious #site-nav li:not(:last-child) {border-bottom: 1px dotted #ccc;}
    
    #site-header:not(.affixed-obvious) #site-nav li:not(:last-child) {border-bottom: 1px dotted #bbb;}
    
     /* end site-header */
    
    
}

@media only screen and (max-height: 402px) {
    
     /* site-header */
    
    #site-header {overflow-y: auto;}
    
	#site-header.h402 {height: 100%;}

	#site-header::-webkit-scrollbar {width: 10px;}
    
    #site-header::-webkit-scrollbar, #site-header::-webkit-scrollbar-track {background-color: #f5f5f5;}

	#site-header::-webkit-scrollbar-thumb {
		background-color: #bbb;
		border-radius: 5px;
	}
    
    #site-header::-webkit-scrollbar-thumb:hover {background-color: #aaa;}
    
    #site-header::-webkit-scrollbar-thumb:active {background-color: #888;}
    
    #site-header::-webkit-scrollbar-button {background-color: #aaa;}
    
    #site-header::-webkit-scrollbar-button:hover {background-color: #ff6464;}
    
     /* end site-header */
}

@media only screen and (min-width: 540px) {

    #sticky-social a {width: 33px;}
}

@media only screen and (min-width: 640px) and (max-width: 837px), (min-width: 907px){

    #hit > div > * {
        margin-left: 10px;
        margin-right: 0;
    }
}

@media only screen and (min-width: 837px) {
    
    .container, .cmnt-img-name, .cmnt {
        display: -webkit-flex;
        display: flex;
    }
    
    .container {
        justify-content: center;
        flex-wrap: wrap;
    }
    
    
    .cmnt-img-name {
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        width: 15%;
    }
    
    .cmnt {justify-content: space-between;}
    
    .cmnt img {
        display: block;
        margin: 0 auto 5px auto;
    }
    
    .cmnt > div:last-child {width: 80%;}
    
    
    
    #post img:not(#post-img) {width: 75%;}
    
     /* site-header */
    
    #site-nav .bar {display: none;}

	#site-nav ul {margin: 0;}

	#site-nav {
		justify-content: space-between;
		flex-grow: 2;
	}

	#site-nav > ul > li > a:hover {
		padding-bottom: 12px;
		border-bottom: 3px solid #fff;
	}
    
    #site-header, #site-nav > ul, #site-nav {
		display: -webkit-flex !important;
		display: flex !important;
	}

	#site-header.affixed-obvious #site-nav > ul > li > a:hover {
		border-bottom: 3px solid #ff6464;
        background: #f5f5f5 url(../img/repeating-linear-gradient.png);
		color: gray;
	}
    
    #site-home {flex-grow: 1;}
    
    
     /* end site-header */
    
    
    main {width: 70%;}
    
    
    #side-nav {
        width: 30%;
        padding-top: 0;
    }
    
}

@media only screen and (min-width: 810px) {

    #sticky-social a {width: 40px;}
}

@media only screen and (min-width: 1177px) {
    
    .follow{justify-content: center;}
}




@media only screen and (max-width: 295px), (min-width: 837px) and (max-width: 1150px) {
	.image-list li a img {display: none;}
}



@-webkit-keyframes zoom-in {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom-in {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@-webkit-keyframes header-fixed-dropdown {
    from {top:-8%;} 
    to {top:0;}
}

@keyframes header-fixed-dropdown {
    from {top:-8%;} 
    to {top:0;}
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


@-webkit-keyframes animate-rotate {
    0% {-webkit-transform: none;}
    23.07692307692308%, 100% {-webkit-transform: rotateY(360deg);}
}

@keyframes animate-rotate {
    0% {transform: none;}
    23.07692307692308%, 100% {transform: rotateY(360deg);}
}

